<section class="Skills">
  <div class="titulo-seccion">
    <h2>Skills</h2>
  </div>
  <div class="container">
    <div class="progreso_circular">
      <span class="valor">0%</span>
    </div>
    <span class="texto">HTML & CSS</span>
  </div>
  <div class="container">
    <div class="progreso_circular">
      <span class="valor">0%</span>
    </div>
    <span class="texto">HTML & CSS</span>
  </div>
  <div class="container">
    <div class="progreso_circular">
      <span class="valor">0%</span>
    </div>
    <span class="texto">HTML & CSS</span>
  </div>
  <div class="container">
    <div class="progreso_circular">
      <span class="valor">0%</span>
    </div>
    <span class="texto">HTML & CSS</span>
  </div>
  <div class="container">
    <div class="progreso_circular">
      <span class="valor">0%</span>
    </div>
    <span class="texto">HTML & CSS</span>
  </div>
</section>
