<section>
  <div class="titulo-seccion">
    <h2>Experiencia</h2>
  </div>
  <div class="experiencia">
    <div class="datos">
      <label class="img">
        <img src="../assets/img/63a1aa07f3f5c__822x822.webp" alt="messi">
      </label>
      <div class="contenido">
        <span>23 de Septiembre de 2023</span>
        <div class="titulo">Lorem, ipsum dolor.</div>
        <div class="texto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, officia est aliquam eaque tempora obcaecati quos veritatis velit ipsum nulla?</div>
      </div>
    </div>
  </div>
</section>
