<section>
  <div class="titulo-seccion">
    <h2>Experiencia</h2>
  </div>
  <div class="experiencia" *ngFor="let experiencia of experienciaList">
    <div class="datos">
      <label class="img">
        <img src="../assets/img/63a1aa07f3f5c__822x822.webp" alt="messi">
      </label>
      <div class="contenido">
        <span>{{experiencia.fecha}}</span>
        <div class="titulo">{{experiencia.titulo}}</div>
        <div class="texto">{{experiencia.info}}</div>
      </div>
    </div>
  </div>
</section>
